/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <style>
            a:link    {color: white}
            a:visited    {color: white}
            a:active    {color: white}
            a:link, a:visited    {text-decoration: none}
            .facebook a:hover {padding: 0px 0px 0px 0px; background-color: #3b5998;}
            .twitter a:hover {padding: 0px 0px 0px 0px; background-color:#1da1f2;}
            .portfolio a:hover {padding: 15px 54px 12px 53px; background-color:#e74c3c;}
            </style>

*/

.profil {
    width: 250px;
    box-shadow: 0px 3px 5px black;
    background-color: #31363b;
    font-family: 'Montserrat', sans-serif;
}

.hlavicka {
    box-shadow: 0px 3px 3px darkgray;
    background-color: #31363b;
}

.foto {
    width: 250px;
}

.logo {
    background-color: #b92e81;
    border-radius: 100%;
    box-shadow: 0px 3px 3px black;
    position: absolute;
    top: 140px;
    left: 170px;
    ;
}

.obsah {
    width: 250px;
    background-color: #31363b;
    color: grey;
    padding: 30px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-bottom: 15px;
    color: azure;
}

.p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 18px;
}


.odkazy {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.odkazy li {
    list-style-type: none;
}

.odkazy li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;

}

.portfolio {
    border-bottom: 1px solid #3f464d;
    border-top: 1px solid #3f464d;
}

.facebook {
    width: 50%;
    float: left;
    border-right: 1px solid #3f464d;
}

.twitter {
    width: 50%;
    float: right;
}

.facebook a:hover {
    background-color: #3b5998;
}

.twitter a:hover {
    background-color: #1da1f2;
}

.portfolio a:hover {
    background-color: #e74c3c;
}